{% extends 'base.html' %}
{% block body %}
<div class="section no-pad-bot">
    <div class="container">

<h2>Witaj w grze</h2>
<form method="POST">
    <p> Aby zagrać musisz być zalogowany </p>
    {% if error %}
        <strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="row">
        <div class="input-field col s12">
          <input placeholder="Login" id="username" type="text" class="validate" name="username" required>
          <label for="username">Login</label>
        </div>
        <div class="input-field col s12">
          <input placeholder="password" id="password" type="text" class="validate" name="password" required>
          <label for="password">Hasło</label>
        </div>
        <div class="actions s12">
            <button class="btn waves-effect waves-light custom-green" type="submit" name="action" value="login">Zaloguj się</button>
              </button>
        </div>
    </div>

    <!--<table>-->
        <!--<p> Aby zagrać musisz być zalogowany </p>-->
        <!--{% if error %}-->
                   <!--<strong>Error:</strong> {{ error }}-->
        <!--{% endif %}-->
        <!--<tr><td> Login </td><td><input name="username" type="TEXT" width="60"></td></tr>-->
        <!--<tr><td> Hasło </td><td><input name="password" type="TEXT" ></td></tr>-->
    <!--</table>-->
    <!--<p>Gdy będziesz gotów naciśnij ten przycisk: </p>-->
    <!--<p><input type="submit" name="action" value="Zaloguj"></p>-->
</form>

    </div>
</div>
{% endblock %}


