{% extends 'base.html' %}
{% block body %}


<h2>{{ the_title }}</h2>

<table class="striped highlighted responsive-table">
    <thead>
    <tr>
        {% for row_title in the_row_titles %}
            <th>{{ row_title }}</th>
        {% endfor %}
    </tr>
    </thead>
    <a href="/hero" class="btn waves-effect waves-light custom-green">Powrót</a>
    <tbody>
    {% for log_row in the_data %}
        <tr>
            {% for item in log_row %}
            <td>{{item}}</a></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}